*,
*::after,
*::before {
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #373737;
}

.header {
    padding: 26px 0 26px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.nav {
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin-right: 72px;
    /*padding-right: 72px;*/
}

.menu-item:nth-child(3) {
    margin-right: 50px;
}

.menu-item:nth-child(4) {
    margin-right: 0px;
}

.menu-link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #FF0000;
    text-transform: uppercase;
}

.headline {
    text-align: center;
}

.title {
    text-transform: uppercase;
    margin: 48px 0 38px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
}

.text p {
    margin: 0 0 28px;
}

.headline-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    padding: 18px 43px 17px;
    border-radius: 4px;
    margin-top: 66px;
}

.footer {
    width: 1280px;
    margin: 0 auto;
}

.footer-copy {
    text-align: right;
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 29px;
    padding-right: 105px;
    letter-spacing: 2.4px;
}
